

body {
    background-color: #333;
    color: orange;
    font-family: "Lato", "Helvetica", sans-serif
}
 .container{
     width: 1080px;
     margin-left: auto;
     margin-right: auto;
    }
.firstRow {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    
}
header h1{
    font-size: 3em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.light {
 background-color: aliceblue;
    color: midnightblue;
    }

 

.btnNormal {
    width: 30em;
    max-width: 40vw;
    height: 2.5em;
    text-decoration: none;
    border-style: none;
    justify-self: end;
    border-radius: 50px;
    color: #333;
    background: #e67617;
    box-shadow:  20px 20px 60px #c46414,  /*-20px -20px 60px #ff881a*/ ;
    
}
.btnNormal:hover{
    border-style: solid;
    border-color: #333;
    
}
.btnNormal:active{
    
box-shadow: inset 20px 20px 60px #160f3d, 
            inset -20px -20px 60px #1e1553;
}
.btnLight {
    color: aliceblue;
    background: #1a1248;
    box-shadow:  20px 20px 60px #160f3d, /* -20px -20px 60px #1e1553*/  ;
    
}
.btnLight:hover {
    border-style: solid;
    border-color: aliceblue;
}

.btn:active {
    box-shadow: inset 20px 20px 60px #c46414, 
            inset -20px -20px 60px #ff881a;
}

.restaurants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 600px);
    grid-row-gap: 0.5em;
    grid-column-gap: 1em;
    justify-items: center;
}
.food {
    background-color: #555;
}

.food:nth-child(5n+5) {  
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    
}
.food:nth-child(3n+3) {  
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
/* 
Insert Comment
.restaurants article:nth-child(5n+5) {  
    background-color: #444;
}

*/

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.food img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    object-fit: cover;
    
}
p{
    max-width: 90%;
}

@media screen and (max-width: 1200px){
    .container{
        width: 95vw;
    }
} 

@media screen and (max-width: 992px){
  .restaurants {
   
    grid-template-columns: repeat(2, 1fr);
    
      
    
}  
} 

@media screen and (max-width: 576px) {
      .restaurants {
    grid-template-columns: repeat(1, 1fr);
    
}
}

